<%= link_to venue_path(venue), class: "Card" do %>
  <div class="Card__inner">
    <figure class="Card__img">
      <% if venue.photos.present? %>
        <img
          src='<%= "#{venue.photos}" %>'
          data-src='<%= "#{venue.photos}" %>'
          alt='<%= "#{venue.name}" %>'
          class="lazyload"
          />
      <% end %>
    </figure>
    <div class="Card__body">
      <h3 class="Card__title"><%= venue.name %></h3>

      <div class="Card__neighborhood">
        <i class="fas fa-map-marker-alt" style="color: #ccc"></i>
        <%= venue.neighborhood %>
      </div>

      <div class="Card__price"><%= venue.cuisine %></div>
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
              <% (1..5).to_a.each do |el| %>
                <% if  venue.rating.present? %>
                  <% if el <= venue.rating %>
                    <i class="fas fa-wine-glass" style="color: #ffb400;"></i>
                  <% else %>
                    <i class="fas fa-wine-glass" style="color: #ccc"></i>
                  <% end %>
                <%end %>
              <% end %>
            </div>
          </span>
        </div>
        <% if user_signed_in? %>
          <%- unless current_user.favorite_venues.include?(venue)  -%>
            <%= link_to 'Add to favorites', venue_favorite_venues_path(venue), method: :post %>
          <%- else -%>
            <%= link_to 'Remove from favorites', favorite_venue_path(Favorite.where(user: current_user, venue: venue).first), method: :delete %>
          <%- end -%>
        <% end %>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
<% end %>
