console.log('<%= @markers.to_json %>');

function changeVenues() {
  var container = document.getElementById("venue-cards-container");
  container.innerHTML = `
  <h3><%=@venues.count%> Venues</h3>
  <div class="index_card">
    <div class="Cards__grid">
      <% @venues.each do |venue|  %>
        <div class="grid-item">
          <%= render 'shared/card', venue: venue %>
        </div>
      <% end %>
    </div>
  </div>
  `;
}
changeVenues();

function changeMap() {
  var containerMap = document.getElementsByClassName("mapboxgl-canvas");
  containerMap.innerHTML = `
  <div
    class="index_map"
    id="map"
    style="width: 100%; height: calc(100vh - 60px);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  `;
}
changeMap();
