<div class="index-container">
  <div class="containery">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card p-4"style="width:250px;">
          <h2 style="color:#303841;">Filters</h2>
          <hr>
            <div class="filter-search" style="color:#3A4750;">
              <h4 class="py-2">Neighborhood</h4>
              <% @neighborhoods = ['Barking', 'Barnet', 'Battersea', 'Beckenham', 'Bethnal Green', 'Bromley' ] %>
                <% @neighborhoods.each do |neighborhood| %>
                  <div class="checkbox">
                    <input type="checkbox" value="neighborhood"/>
                    <label><%= neighborhood %></label>
                  </div>
                <% end %>


          <button type="button" class="btn" data-toggle="collapse" data-target="#demo" style="color:#BE3144;font-size:20px;"><i class="fas fa-plus-square"></i></button>
              <div id="demo" class="collapse">
               <% @neighborhoods = ['Camberwell', 'Camden', 'Chelsea', 'Chingford', 'Chingford', 'Clapham', 'Croydon', 'Dagenham', 'Deptford', 'Ealing', 'East Ham', 'Enfield' ] %>
                <% @neighborhoods.each do |neighborhood| %>
                  <div class="checkbox">
                    <input type="checkbox" value="neighborhood"/>
                    <label><%= neighborhood %></label>
                  </div>
                <% end %>
              </div>


                <hr>
              <h4 class="py-2">Price range (£)</h4>
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                  <div class="d-flex justify-content-between">
                    <div>0</div>
                    <div id="price" class="text-right">
                    </div>
                  </div>
                </div>

              <hr>
              <h4 class="py-2">Rating</h4>
                <div class="checkbox">
                  <input type="checkbox" value="rating"/>
                  <label>5 stars</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" value="rating"/>
                  <label>4 stars</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" value="rating"/>
                  <label>3 stars</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" value="rating"/>
                  <label>2 stars</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" value="rating"/>
                  <label>1 star</label>
                </div>
              <hr>
              <h4 class="py-2">Cuisine</h4>
                <% @cuisines = ['All', 'British', 'Brazilian', 'Chinese', 'Italian', 'Mediterrean'] %>
                <% @cuisines.each do |cuisine| %>
                  <div class="checkbox">
                    <input type="checkbox" value="cuisine"/>
                    <label><%= cuisine %></label>
                  </div>
                <% end %>
              <button type="button" class="btn" data-toggle="collapse" data-target="#demo" style="color:#BE3144;font-size:20px;"><i class="fas fa-plus-square"></i></button>
              <div id="demo" class="collapse">
               <% @cuisines = ['Carribean', 'Japanese', 'Lebanese', 'Korean', 'Turkish' ] %>
                  <% @cuisines.each do |cuisine| %>
                    <div class="checkbox">
                      <input type="checkbox" value="cuisine"/>
                      <label><%= cuisine %></label>
                    </div>
                  <% end %>
              </div>

              <hr>
              <h4 class="py-2">Style</h4>
                <% @styles = ['Casual dining', 'Café', 'Pubs', 'Bars', 'Fine Dining'] %>
                <% @styles.each do |style| %>
                  <div class="checkbox">
                    <input type="checkbox" value="style"/>
                    <label><%= style %></label>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
      </div>
<!--
      <div class="container">
        <div class="row">
          <%# @venues.each do |venue| %>
            <div class="col-xs-12 col-sm-6 col-md-3">

              <div class="homepage-card">
              <%#= link_to venue_path(venue) do %>
                  <img src="https://picsum.photos/id/1080/300/200" alt="image">
                  <div class="card-info">
                    <h3><%#= venue.name %></h3>
                    <p><%#= venue.rating %></p>
                  </div>
              <%# end %>

                </div>
            </div>
          <%# end %>
        </div>
      </div> -->

<section class="venues">
  <div class="container-fluid">
    <h3><%= @venues.count %> Venues</h3>
    <div class="Cards">
      <div class="Cards__grid">
        <% @venues.each do |venue|  %>
          <div class="grid-item">
            <%= render 'shared/card', venue: venue %>
          </div>
        <% end %>
      </div>
      <div class="Map Cards__map">
        <div class="Map__inner">
          <div id="map"
            style="width: 100%;"
            data-markers="<%= @markers.to_json %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%#= javascript_pack_tag "map" %>






        <div class="col-xs-12 col-sm-6 col-md-3">
           <div
            class="index_map"
            id="map"
            style="width: 50%;
            height: calc(100vh - 28vh);margin-top:80px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>

    </div>
  </div>
</div>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("price");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>







