<!-- <div class="index-container"> -->
  <!-- <div class="containery"> -->
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="filter_card">
          <h2 style="color:#303841;margin-left:5%;">Filters</h2>
          <div class="filter-search" style="color:#3A4750;">
            <%= form_tag('/venues', id: "form-filter", method: :get) do %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="wrapper center-block">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="fas fa-map-pin"></i>
                      Neighborhood <i class="fas fa-chevron-up"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <% Venue.all.sort_by { |venue| venue.neighborhood }.uniq {|venue| venue.neighborhood }.each do |venue| %>
                    <div class="checkbox">
                      <input type="checkbox" name="neighborhoods[<%= venue.id %>]" value="<%= venue.neighborhood %>"/>
                      <label><%= venue.neighborhood %></label>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="fas fa-utensils filter-icon"></i>
                      Cuisine <i class="fas fa-chevron-up arrow"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <% Venue.all.sort_by { |venue| venue.cuisine }.uniq {|venue| venue.cuisine }.each do |venue| %>
                      <div class="checkbox">
                        <input type="checkbox" value="cuisine"/>
                        <label><%= venue.cuisine %></label>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <i class="fas fa-cocktail"></i>
                      Cocktail <i class="fas fa-chevron-up"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="fas fa-star"></i>
                      Rating<i class="fas fa-chevron-up"></i>
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <div class="checkbox">
                      <input type="checkbox" value="rating"/>
                      <label>5 stars</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" value="rating"/>
                      <label>4 stars</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" value="rating"/>
                      <label>3 stars</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" value="rating"/>
                      <label>2 stars</label>
                    </div>
                    <div class="checkbox">
                      <input type="checkbox" value="rating"/>
                      <label>1 star</label>
                    </div>
                  </div>
                </div>
              </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title text-lef">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><i class="fas fa-pound-sign"></i>
                          Price Range <i class="fas fa-chevron-up"></i>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                      <div class="panel-body">
                        <div class="checkbox">
                          <input type="checkbox" value="price"/>
                          <label>£</label>
                        </div>
                        <div class="checkbox">
                          <input type="checkbox" value="price"/>
                          <label>££</label>
                        </div>
                        <div class="checkbox">
                          <input type="checkbox" value="price"/>
                          <label>£££</label>
                        </div>
                        <div class="checkbox">
                          <input type="checkbox" value="price"/>
                          <label>££££</label>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            <div class="filter-btn"style="display:flex;justify-content: center;margin-bottom: 10px;">
              <%= submit_tag("Update", :class=>"btn btn btn-primary") %>
             </div>
          <!--   <% end %> -->

          <!-- </div> -->
        </div>
      </div>
<!--
      <div class="container">
        <div class="row">
          <%# @venues.each do |venue| %>
            <div class="col-xs-12 col-sm-6 col-md-3">

              <div class="homepage-card">
              <%#= link_to venue_path(venue) do %>
                  <img src="https://picsum.photos/id/1080/300/200" alt="image">
                  <div class="card-info">
                    <h3><%#= venue.name %></h3>
                    <p><%#= venue.rating %></p>
                  </div>
              <%# end %>

                </div>
            </div>
          <%# end %>
        </div>
      </div> -->
      <div class="col-xs-12 col-sm-6">
        <section class="venues">
          <div id="venue-cards-container" class="container-fluid">
            <h3><%= @venues.count %> Venues</h3>
            <div class="row">
              <% @venues.each do |venue|  %>
                <div class="col-xs-12 col-md-6">
                  <%= render 'shared/card', venue: venue %>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-sm-3" id="map-container" style="position: sticky;
  top: 60px;">
        <div
          class="index_map"
          id="map"
          style="width: 100%; height: calc(100vh - 60px);"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

<!-- <script>
   $('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

  $('.panel-collapse').on('hide.bs.collapse', function () {
    $(this).siblings('.panel-heading').removeClass('active');
  });
</script> -->



  <!-- </div> -->
<!-- </div> -->
<!-- <script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("price");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script> -->





<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


 -->


<!--
<script>
  const neighborhoods = document.querySelectorAll('input[name="venue-neighborhood"]');
  const form = document.getElementById('form-filter');
  neighborhoods.forEach((neighborhood) => {
    neighborhood.addEventListener("click", (event) => {
      form.submit();
    });
  });
</script> -->
